body {
    background: rgb(63, 84, 251);
    background: radial-gradient(circle, rgba(63, 84, 251, 1) 0%, rgba(252, 70, 210, 1) 100%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(10vw, 1fr));
    grid-auto-rows: 1fr;
    gap: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.container div {
    aspect-ratio: 1;
}

.title {
    grid-row: span 1;
    grid-column: span 1;
    background: white;
    border-radius: 25px;
}

.game {
    grid-row: span 1;
    grid-column: span 1;
    background: white;
    border-radius: 25px;
    width: 100%;
    height: auto;
}
